html, body {
    font-family: Verdana;
    text-align: center;
    height: 100%;
}

table {
    border-collapse: collapse;
    font-size: small;
    margin-left: auto; 
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    color: yellow;
    background-color: black;
}

.view {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
}

a:hover + .view {
    display: block;
}

iframe {
    display: block;
    width: 500px;
    height: 400px;
    background-color: #EEEEEE;
    border: solid;
}
